/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(22, 22, 22);
    border-radius: 0;
}

::-moz-selection {
    background: #ffffff;
}

::selection {
    background: #ffffff;
}

/* Website style */
* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

a:link {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 100%;
    overflow-x: hidden;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(30, 31, 31), #020202); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1e1f1f, #020202); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.container-fluid {
    padding: 3% 8%;
    z-index: 999;
    position: absolute;
    top: 0;
}

.nav-link {
    color: #d3d4d5 !important;
    margin-right: 19px;
    font-size: 15px;
}

nav .btn-priamry {
    background-color: #54c53e;
    border-radius: 50px;
    width: 20%;
    color: white;
    transition: 1s;
}

nav .btn-priamry:hover {
    color: #666666 !important;
    background-color: #fdfdfd;
    width: 130%;
    transition: 1s;
}

.nav-link:hover {
    color: #666666 !important;
}

.navbar-brand {
    color: white !important;
    font-weight: 700;
}

header {
    background-image: url('../img/bg.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.skill {
    animation: animateLogotype 10s ease-in-out infinite;
}

@keyframes animateLogotype {
    0% {
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0 rgba(0, 0, 0, 0);
        transform: translatey(-30px);
    }
    100% {
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0);
        transform: translatey(0px);
    }
}

.navbar-toggler {
    color: rgb(56, 56, 56) !important;
}

.flex {
    padding: 15% 12% 10% 8%;
}

.cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill {
    float: right;
}

.flex p {
    color: #666666;
}

.flex h1 {
    color: white;
    font-weight: 800;
    font-size: 50px;

}

.flex h3 {
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.social {
    margin-top: 5%;
}

.social a {
    margin: 10px;
    font-size: x-large;
    color: rgb(190, 190, 190);
}

#about {
    padding: 0 12% 3% 8%;
}

.card-ab {
    background: -webkit-linear-gradient(to right, #ffe000 4%, #0aff00); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eeff00 4%, #3cff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 12px;
    padding: 5% 5% 4%;
}

.card-ab h1 {
    font-weight: 800;
    color: #0f0f0f;
    border-left: 5px solid #0f0f0f;
}

.card-ab p {
    margin-top: 3%;
    color: #000000;
}

#skills {
    padding: 3% 12% 3% 8%;
}

#skills h1 {
    font-weight: 800;
    color: #92909080;
    font-size: x-large;
    border: 2px;
    margin-bottom: 2%;
}

.zap {
    color: gold;
    margin-right: 10px;
}

.card-info {
    background-color: #1e1f1f;
    border-radius: 12px;
    padding: 10% 10% 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 0.4s;
    margin-bottom: 5%;
}

.card-info:hover {
    background-color: #292b2b;
    transition: 0.4s;
}

.card-info h5 {
    color: rgb(196, 196, 196);
    font-weight: 700;
    margin-top: 4%;
}

.card-info p {
    color: #666666;
    font-size: small;
}

#projects {
    padding: 3% 12% 3% 8%;
}

#projects h1 {
    font-weight: 800;
    color: #d3d3d380;
    font-size: 40px;
    border: 2px;
    text-align: center;
}

#projects p {
    font-weight: 500;
    color: #d3d3d354;
    font-size: medium;
    margin-top: -10px;
    border: 2px;
    margin-bottom: 5%;
    text-align: center;
}

#projects img {
    width: 70%;
}

#projects .card-pro {
    background-color: #1e1f1f;
    border-radius: 12px;
    padding: 10% 10% 8%;
    transition: 0.4s;
    margin-bottom: 5%;
}

#projects .card-pro:hover {
    background-color: #292b2b;
    transition: 0.4s;
}

.card-pro h5 {
    color: rgb(114, 114, 114);
    font-weight: 600;
}

.card-pro h6 {
    color: rgb(114, 114, 114);
    font-weight: 400;
    font-size: small;
}

.card-pro a {
    font-size: small;
    text-decoration: none;
    color: #a6abaf;
}

footer {
    background-color: #111111;
    border-radius: 12px;
    margin: 2% 11% 2% 8%;
    padding: 2%;
    font-size: small;
    color: #444444;
}

footer:hover {
    color: rgb(100, 100, 100);
    transition: 0.4s;
}

.sociale a {
    color: rgb(190, 190, 190) !important;
    margin: 5px;
    font-size: large;
}

footer .info {
    margin-top: 15px;
}

footer a {
    color: rgb(133, 133, 133);
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: rgba(0, 0, 0, 0) !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
    background: #0aff00;
}

/* Responsive */
@media only screen and (max-width: 1000px) {

    .skill {
        animation: animateLogotype 6s ease-in-out infinite;
        width: 100%;
        position: relative;
        opacity: 0.1;
        margin-top: -100%;
        z-index: -99;
    }

    .navbar-nav {
        margin-top: 5%;
        background-color: #111111;
        border-radius: 12px;
        padding: 8% 12% 8% 8%;
    }

    .container-fluid {
        padding: 8%;
    }

    nav .btn-priamry {
        width: 10%;
    }

    header {
        background-image: url('../img/bg.png');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    .skill {
        animation: animateLogotype 6s ease-in-out infinite;
    }

    .flex {
        padding: 52% 12% 20% 8%;
    }

    .flex p {
        font-size: small;
    }

    .flex h1 {
        font-size: 40px;
        margin-bottom: 4%;
    }

    #about {
        padding: 0 7% 3% 8%;
    }

    .card-ab {
        border-radius: 12px;
        padding: 15% 15% 4% 10%;
    }

    .card-ab h1 {
        border-left: 5px solid #0f0f0f;
    }

    .card-ab p {
        margin-top: 8%;
    }

    #skills {
        padding: 10% 7% 3% 8%;
    }

    #skills h1 {
        font-size: large;
        margin-bottom: 6%;
    }

    #projects {
        padding: 3% 8%;
    }

    #projects h1 {
        font-size: 30px;
    }

    #projects p {
        font-size: small;
        margin-bottom: 15%;
    }

    #projects img {
        width: 40%;
        margin-bottom: 10%;
    }

    #projects .card-pro {
        margin-bottom: 5%;
        padding: 15% 10% 15% 12%;
    }


    .card-pro h5 {
        color: rgb(167, 167, 167);
    }

    .card-pro h6 {
        color: rgb(153, 150, 150);
    }

    footer {
        background-color: #11111100;
        margin: 7% 11% 7% 8%;
        padding: 2%;
        font-size: small;
        color: #444444;
    }
}
